body {
  background-color: orange;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: aquamarine;

}

nav {

  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}


li {

float: left;
display:inline;

}

li a:hover{
  background-color:#3333;
}

#home nav .home > a {
  pointer-events: none;
  cursor: default;
}



